rect.chart-bar {
    stroke: none;
    fill: #ccc;
    shape-rendering: geometricPrecision;
}

rect.chart-bar.chart-bar-usa {
    fill: #069;
}

rect.chart-bar.chart-bar-russia {
    fill: #d44950;
}

rect.chart-bar-overlay {
    fill: none;
}

.chart-axis line {
    stroke: #888;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.chart-axis text {
    text-anchor: start;
    fill: #888;
    font-size: 0.7rem;
    font-family: "PT Serif", serif;
    font-style: italic;
}
